// 文字超過變成...
@mixin overflow-docx3(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 水平置中
@mixin center-block {
    margin: 0 auto;
}

// 垂直置中作法在該before使用偽元素來達成垂直置中
// 參考網路css
@mixin vertical-align {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

//絕對定位水平與置中
@mixin ab-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// 長寬設定
@mixin size($w, $h) {
    width: $w;
    height: $h;
}

//用在圖片代替字串
@mixin hide-text {
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

// 清除浮動是加在父元素的屬性
@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin mul-font($n) {
    font-size: $n*16px;
}

@mixin see-border {
    border: 2px solid black;
}

// 特定字摺行做法
// 在要折行的地方加上class並給他這個屬性
@mixin wrap-text {
    content: '';
    display: block;
}

// 網路的mixin
// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}
